<div class="card-top container-fluid">
   <div class="container d-flex">
          <div class="item">
          <a >
              <img src="assets/Medicine.jpg" width="200" height="200">
              <h5>All Medicines</h5>
          </a>
          </div>
  
          <div class="item">
              <a >
                  <img src="assets/tablet.jpg"width="200" height="200">
                  <h5>Tablets</h5>  
              </a>
              </div>
              <div class="item">
                  <a >
                      <img src="assets/syringe.jpg" width="200" height="200">
                      <h5>Syringe</h5>
                  </a>
                  </div>
                  <div class="item">
                      <a >
                          <img src="assets/syrup.jpg"width="200" height="200">
                          <h5>Syrup</h5>
                      </a>
                      
        </div>
      </div>
</div>


<div class="container">
<div class="card" id="item">
    <img src="assets/digestive.jpg">
      <div class="title">DIGESTIVE SYRUP</div>
      <label>ProductId:001</label><br>&nbsp;
      <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
      <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
</div>
      
       <div class="card" id="item">
        <img src="assets/benadril.jpg">
      <div class="title">BENADRIL</div>
      <label>ProductId:002</label><br>&nbsp;
      <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
      <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
      
      
    
      </div>

      
  
       <div class="card" id="item">
        
            <img src="assets/amoxilcin.jpg">
               <div class="title">AMOXICLIN</div>
               <label>ProductId:003</label><br>
               <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
              <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
            
            </div>
                
       <div class="card" id="item">
       <img src="assets/para.jpg">
       <div class="title">PARACETAMOL</div>
       <label>ProductId:004</label><br>
       <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
       <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
        
      
        </div>
       

        <div class="card" id="item">
            <img src="assets/cipla.jpg">
       <div class="title">CIPLADINE</div>
       <label>ProductId:005</label><br>
       <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
      <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
          
    </div>
    

 <div class="card" id="item">
   
    
    <img src="assets/reds.jpg">
       <div class="title">COVIDSHIELD</div>
       <label>ProductId:006</label><br>&nbsp;
       <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
      <button type="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
    
</div>
    
    <div class="card" id="item">
   
        
        <img src="assets/vitaE.jpg">
           <div class="title">VITAMIN E</div>
           <label>ProductId:007</label><br>&nbsp;
           <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
           <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
    
        </div>
        <div class="card" id="item">
   
        
            <img src="assets/sugar.jpg">
               <div class="title">GLYCODINE</div>
               <label>ProductId:008</label><br>&nbsp;
               <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
               <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
        
            </div>
            <div class="card" id="item">
   
        
                <img src="assets/nuro.jpg">
                   <div class="title">NUROBIOEN</div>
                   <label>ProductId:009</label><br>&nbsp;
                   <button routerLink="/cart" class="btn btn-primary"algin="left">Add to cart</button>
                   <button routerLink="/tablet" class="btn btn-primary"algin="right">Buy Now</button>
            
                </div>
                
              
   </div>

          
        
      
        
      
                      
        

           

  
  