<header>
    
    <div class="navbar navbar-dark" style="background-color:purple;">
    
     <div class="navbar navbar-brand align-item-center d-flex">
    
        <strong style="font-size:40px ">GRS Medicals</strong>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search products">
        </div>&nbsp;
        <span class="fas fa-search search-icon"></span>
       
        <button routerLink="/register-user" class="btn btn-info">RegisterHere</button>&nbsp;
        <button routerLink="/login" class="btn btn-info">Login</button><br>&nbsp;
        <button routerLink="/products" class="btn btn-info">shop</button>&nbsp;
        
        
        
        </div>
        <button routerLink="cart" class="btn btn-secondary">
        <i style="font:size 20px;" class="fas fa-cart-plus"></i>
        <div style="font:size 10px;" class="badge bg-danger"></div>
    </button>
    </div>
    </header>
    
    
    